 <div class="user-details">
  <h1> My Background </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Systems</h2>
      <i class="fa fa-linux" aria-hidden="true"></i>
      <i class="devicon-docker-plain-wordmark"></i>
      <i class="devicon-nginx-original"></i>
      <p>Create simple solutions to complex problems with open source tools
        </p>
    </div>
    <div class="tech">
      <h2>Networks</h2>
      <i class="fa fa-server" aria-hidden="true"></i>
      <i class="fa fa-arrows-alt" aria-hidden="true"></i>
      <i class="fa fa-user-o" aria-hidden="true"></i>
      <p>Build resilent and performant networks at scale with automation
        </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-confluence-plain-wordmark"></i>
      <p>Design and document tools to streamline engineering workflows
        </p>
    </div>
</div>
