<div class="container">
  <div class="user-details">
    <h3> Background </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Systems</h4>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-redhat-plain-wordmark"></i>
      <i class="devicon-nginx-original"></i>
      <p> I build, scale, automate and monitor infrastructure. Most recently, I did this for MaxCDN's Nginx based bare metal CDN from startup to acquisition by StackPath. Among systems I use frequently are: CentOS, FreeBSD, Ubuntu, Nginx, VM, MySQL, InfluxDB. </p>
    </div>
    <div class="four columns">
      <h4>Networks</h4>
      <i class="fa fa-server" aria-hidden="true"></i>
      <i class="fa fa-arrows-alt" aria-hidden="true"></i>
      <i class="fa fa-user-o" aria-hidden="true"></i>
      <p>I have experience designing, automating and deploying 1TB+ global anycast and private networks. At my time with MaxCDN, we went from 60 to 600Gbps of capacity to multi Tbps after becoming a part of StackPath. I've worked with and blended most major vendor platforms such as Juniper, Arista, Cisco, HP, Brocade, Opengear.</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-confluence-plain-wordmark"></i>
      <p>Tooling is something I enjoy building, using and documenting. I've built numerous Python and Bash Nagios monitors and created dashboards from ground-up to keep things humming along. The list is long and constantly growing. A few most frequently used are: Python, Bash, SQL, Ansible, Puppet, Nagios, Grafana, Cacti, Git.</p>
    </div>
  </div>
</div>
