<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Overseer" src="{{ "/assets/img/devops.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Overseer - Server and network monitoring </h5>
      <li> Nagios based - Industry standard</li>
      <li> Language agnostic</li>
      <li> Highly customizable</li>
      <p>A collection of Python and Bash monitors for Nagios used by high traffic services such as MaxCDN and StackPath.</p>
      <a class="project-link" href="https://github.com/r3lik/overseer">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="grafana" src="{{ "/assets/img/grafana.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Scout - Monitoring all the things </h5>
      <ul>
        <li> Fast</li>
        <li> Clean UI</li>
      </ul>
      <p>A monitoring stack for anything and everything using InfluxDB, Grafana and Telegraf.</p>
      <a class="project-link" href="https://github.com/r3lik/dealer">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Fifa Stats" src="{{ "/assets/img/fifadb.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> FifaDB - Personal stats for FIFA gameplay </h5>
      <li> MySQL </li>
      <li> Python </li>
      <li> UI in development</li>
      <p>FIFA doesn't provide an ingame way to track your statistics, so I built my own.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="crypto" src="{{ "/assets/img/crypto.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> BotMan - Cryptocurrency bot </h5>
      <ul>
        <li> Written in Python</li>
        <li> Light-weight</li>
      </ul>
      <p>A Discord bot that displays cryptocurrency prices and trends using the Cryptocompare.com API.</p>
      <a class="project-link" href="https://github.com/r3lik/botler">Check it out</a>
    </div>
  </div>
</div>
