<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="grafana" src="{{ "/assets/img/grafana.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Scout - Monitoring all the things</h5>
      <ul>
        <li> Fast</li>
        <li> Clean UI</li>
      </ul>
      <p>A monitoring stack for anything and everything using InfluxDB, Grafana and Telegraf. </p>
      <a class="project-link" href="https://github.com/r3lik/dealer">Check it out</a>
    </div>
  </div>
   <div class="row user-projects">
    <div class="six columns images">
      <img alt="nagios" src="{{ "/assets/img/devops.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Overseer - Server and Network monitoring</h5>
      <li> Nagios based - Industry standard</li>
      <li> Language agnostic</li>
      <li> Scales to 10k+ checks</li>
      <p>A collection of Python and Bash monitors for Nagios used in production at MaxCDN and StackPath</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="crypto" src="{{ "/assets/img/crypto.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> BotMan - A Cryptocurrency Bot </h5>
      <ul>
      	<li> Written in Python</li>
      	<li> Light-weight</li>
      </ul>
      <p>A Discord bot that displays cryptocurrency prices and trends using the Cryptocompare.com API.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">

</div>
