<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Overseer" src="{{ "/assets/img/devops.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Overseer - Server and Network Monitoring </h3>
    <ul>
      <li> Nagios based - Industry standard</li>
      <li> Language agnostic</li>
      <li> Highly customizable</li>
    </ul>
    <p>A collection of Python and Bash monitors for Nagios used by high traffic services such as MaxCDN and StackPath.</p>
    <a class="project-link" href="https://github.com/r3lik/overseer">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="grafana" src="{{ "/assets/img/grafana.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Scout - Monitoring All the Things </h3>
    <ul>
      <li> Fast</li>
      <li> Clean UI</li>
    </ul>
    <p>A monitoring stack for anything and everything using InfluxDB, Grafana and Telegraf.</p>
    <a class="project-link" href="https://github.com/r3lik/dealer">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="CryptoChill.com" src="{{ "/assets/img/cryptoblog.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Cryptocurrency Blog - Author </h3>
    <ul>
      <li> Six Things I Wish I'd Known as a Cryptocurrency Newbie</li>
      <li> How to Use Bitcoin Exchanges: A Step-By-Step Guide</li>
    </ul>
    <p>Contributor to cryptochill.com. My goal is to share the cryptocurrency and blockchain knowledge that I've acquired.</p>
    <a class="project-link" href="http://www.cryptochill.com">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Fifa Stats" src="{{ "/assets/img/fifadb.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> FifaDB - Personal Stats for FIFA Gameplay </h3>
    <ul>
      <li> MySQL </li>
      <li> Python </li>
      <li> UI in development</li>
    </ul>
    <p>FIFA doesn't provide an ingame way to track your statistics, so I built my own.</p>
    <a class="project-link" href="https://github.com/r3lik/FIFA">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="crypto" src="{{ "/assets/img/crypto.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> BotMan - Cryptocurrency Bot </h3>
    <ul>
      <li> Written in Python </li>
    </ul>
    <p>A Discord bot that displays cryptocurrency prices and trends using the Cryptocompare.com API.</p>
    <a class="project-link" href="https://github.com/r3lik/botler">Check it out</a>
  </div>
</div>
